.feed {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 16px;
    row-gap: 30px;
    margin-top: 15px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}
.card h2{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}
.card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}
.card p{
    font-size: 14px;
}


/* ===================== */


/* Tablet ve daha küçük ekranlar için */
@media (max-width: 768px) {
    .feed {
        grid-template-columns: repeat(1,1fr);
        column-gap: 12px;
        row-gap: 25px;
    }

    .card h2 {
        font-size: 13px;
    }

    .card h3 {
        font-size: 11px;
    }

    .card p {
        font-size: 10px;
    }
}

/* Mobil ve daha küçük ekranlar için */
@media (max-width: 480px) {
    .feed {
        grid-template-columns: 1fr;
        column-gap: 10px;
        row-gap: 20px;
    }

    .card h2 {
        font-size: 14px;
    }

    .card h3 {
        font-size: 12px;
    }

    .card p {
        font-size: 12px;
    }
}